@use "config/reset.scss";
@use "config/variaveis.scss";

@mixin flex-center() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin button-styles() {
  display: block;
  background-color: variaveis.$corDoBotao;
  color: variaveis.$corDoTexto;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: variaveis.$corBotaoHover;
  }
}

body {
  background-color: variaveis.$corDeFundo;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: variaveis.$corDoHeader;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    @include flex-center();
    padding: 16px 0;
  }

  .menu {
    @include flex-center();

    li {
      font-weight: bold;
      margin-left: 24px;

      a {
        color: variaveis.$corDoTexto;
        text-decoration: none;
      }
    }
  }

  li {
    list-style: none;
  }
}

section {
  padding: 56px 0;

  .products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;
  }
  
  .product-item img {
    width: 100%;
    border-radius: 16px;
  }
  
  .product-button {
    @include button-styles();
  }

  li {
    list-style: none;
  }
}

@media screen and (max-width: variaveis.$tablet) {
  .container {
    max-width: 90%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: variaveis.$mobile) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}